<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
    <h1>NLPApp</h1>
    <h3>Register Here</h3>
    <form>
        <label>Name</label>
        <br>
        <label>
            <input type = "text">
        </label> <br>
        <label>Email</label>
        <br>
        <label>
            <input type = 'email'>
        </label> <br>
        <label>Password</label>
        <br>
        <label>
            <input type = 'password'>
        </label>
        <br>
        <br>
        <input type = 'submit' value ='Register'>
    </form>

    <p>Already a Member? <a href="/">Login Here</a></p>
</body>
</html>